.main-container {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'pretendard', sans-serif;
}

.chat-box {
  width: 380px;
  height: 720px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.chat-header {
  font-size: 15px;
  padding: 14px 18px;
  border-bottom: 1px solid #d6d6d7;
}

.chat-header p {
  cursor: pointer;
  margin: 0px;
}

.chat-header svg {
  width: 8px;
  height: 12px;
  padding-right: 4px;
}

.chat-list {
  max-height: 720px;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #d6d6d7;
}

.chat-item:hover {
  background-color: #f9fafb;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-info {
  flex: 1;
  margin-left: 10px;
  line-height: 1.3;
}

.chat-username {
  font-weight: 600;
  font-size: 16px;
  color: #5c5c5c;
}

.chat-username span {
  color: #5c5c5c;
  font-weight: 600;
  font-size: 16px;
  margin-left: 2px;
}

.chat-message {
  color: #8e8e8e;
  font-size: 13px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.unread-dot {
  width: 8px;
  height: 8px;
  background-color: #3b82f6;
  border-radius: 50%;
}
