.main-page {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chat-list-section {
  flex-shrink: 0;
}

.random-match-section {
  flex-shrink: 0;
}

.profile-section {
  flex-shrink: 0;
}
