.mainContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    
    border-radius: 20px;
    width: 560px;
    height: 720px;
   
    background-color: white;
    
    margin-left: 30px;
    margin-right: 30px
}
.logo {
  width: 150px;
  height: 150px;
  padding-top: 75px;
}
.queto {
  font-weight: 700;
  font-size: 26px;
  font-style: bold;
  color: #ff6b9f;
  padding-top: 60px
}

.longQueto {
  font-weight: 700;
  font-size: 20px;
  font-style: bold;
  color: #383b43;
  text-align: center;
  max-width: 400px;
  padding-top: 60px;
 
}
.randomButton{
   color: white;
   font-style: bold;
   font-weight: 700;
   font-size: 18px;
   background-color: #ff6b9f;
   border: none;
   border-radius: 12px;
   width: 274;
   height: 44px;
   max-width: 340px;
   margin-top: 200px;
}
