body {
  font-family: 'Pretendard';
  background-color: #f8f8f8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 376px;
  background: #fff;
  padding: 40px 68px;
  border-radius: 20px;
  text-align: center;
  transform: scale(0.8);
}
.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
}

.logo-text {
  font-size: 40px;
  font-weight: 900;
  color: #ff99b8;
  margin-top: 12px;
  margin-bottom: 44px;
}
.input-field {
  margin-bottom: 24px;
  position: relative;
  width: 376px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
input {
  width: 100%;
  padding: 0px 20px;
  border: 1px solid #d6d6d7;
  border-radius: 16px;
  box-sizing: border-box;
  font-size: 16px;
  color: #5c5c5c;
  outline: none;
}

input::placeholder {
  color: #858486;
  font-weight: 400;
}

.id-field {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.id-field input {
  flex-grow: 1;
}

.btn-check {
  background-color: #ff6b9f;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 16px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;

  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
  width: 90px;
  font-weight: 400;
}

.btn-check:hover {
  background-color: #ff4f8d;
}

.pw-field {
  display: flex;
  align-items: center;
}

.pw-field input {
  flex-grow: 1;
  padding-right: 40px;
}

.toggle-pw {
  position: absolute;
  right: 15px;
  top: 8px;
  cursor: pointer;
}

.toggle-icon {
  width: 40px;
  height: auto;
}

.msg-error {
  font-size: 0.75rem;
  color: #ff6b9f;
  text-align: left;
  margin-top: -8px;
  margin-bottom: 12px;
}

.select-wrap {
  position: relative;
  width: 376px;
  margin-bottom: 24px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.select-wrap.two-col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-group {
  width: 49%;
}

.select-box {
  width: 100%;
  height: 56px;
  padding: 0px 20px;
  border: 1px solid #d6d6d7;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #858486;
  box-sizing: border-box;
  font-weight: 400;
}

.arrow {
  color: #888;
  font-size: 0.8rem;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #d6d6d7;
  border-radius: 16px;
  background-color: #fff;
  z-index: 10;
  margin-top: 4px;
  font-weight: 400;
}

.option-item {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 16px;
  color: #5c5c5c;
}

.option-item:hover {
  background-color: #f5f5f5;
}

.option-item.disabled {
  color: #5c5c5c;
  cursor: not-allowed;
}

.btn-submit {
  width: 376px;
  padding: 14px;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff6b9f;
  color: white;
  transition: background-color 0.2s;
  box-sizing: border-box;
  margin-top: 40px;
  height: 60px;
}

.btn-submit:hover {
  background-color: #ff4f8d;
}

.btn-submit:disabled {
  background-color: #d6d6d7;
  cursor: not-allowed;
  color: #a0a0a0;
}

.link-login {
  font-size: 16px;
  color: #5c5c5c;
  margin-top: 24px;
  font-weight: 500;
  margin-bottom: 4px;
}

.link-login a {
  color: #ff6b9f;
  text-decoration: none;
  font-weight: 700;
}

.category-wrap {
  text-align: left;
  margin-top: -10px;
}

.category-text {
  font-size: 16px;
  color: #5c5c5c;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.category-item {
  background-color: #ffffff;
  color: #5c5c5c;
  padding: 15px 18px;
  border-radius: 100px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid #d6d6d7;
  box-sizing: border-box;
}

.category-item:hover {
  background-color: #d6d6d7;
}

.category-item.active {
  background-color: #ff6b9f;
  color: white;
  border-color: #ff6b9f;
}

.eyeSvg {
  width: 40px;
  height: 40px;
}
